@model List<TheatreShows.Web.Models.TheatreShow>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Theatre shows</h1>

<div class="container">

    <div class="m-4">
        <a href="/TheatreShows/Create" class="btn btn-success">Create New</a>
    </div>

    @for(int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];

        if(i % 4 == 0)
        {
            @:<div class="row">
        }

            <div class="col-3">
                <div class="card" style="width: 95%; height: 100%%; margin: 3%">
                    <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <h6 class="card-text">@item.Place-<br>@item.Date</h6>
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer">
                        <a asp-controller="TheatreShows" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark">Edit</a>
                        <a asp-controller="TheatreShows" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                        <a asp-controller="TheatreShows" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>

            if(i % 4 == 3)
        {
            @:</div>
        }
    }

</div>